* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --vermelho: #FF001B;
    --branco: #fff;
    --cinza: #EEEEEE;
    --sombra: #727171;
}

body{
    background-color: var(--cinza);
    min-height: 277vh;
}

/* corpo do site flutuando na direita do header horizontal */
.corpo-site{
    margin-left: 8.5rem;
}

@media(max-width: 845px){
    .corpo-site{
        margin-left: 0;
    }
}

@media(min-width: 1700px){
    .corpo-site{
        margin-left: 0;
    }
}

/* conteúdo do corpo do site */
/* --------------------------- CIMA DO SITE --------------------------- */
.cimaAnalises {
    display: flex;
    justify-content: space-between;
    padding-top: 4.2rem;
}

.cimaAnalises h1 {
    background: linear-gradient(45deg, #d11124, var(--vermelho));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: fill 2s ease-in-out infinite;
    margin-left: 4rem;
}

@keyframes fill {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

.cimaAnalises .dropdown {
    margin-right: 7rem;
}

.botoes-analises {
    display: flex;
    justify-content: space-between;
}

.botao-dropdown {
    border: 1px solid var(--vermelho);
    color: transparent;
    color: var(--vermelho);
    border-radius: 20px;
}

.botao-dropdown:hover {
    background-color: #ececec;
    border: 1px solid #ae1121;
    color: #ae1121;
}

.botao-ver-transacoes {
    background-color: var(--vermelho);
    color: var(--branco);
    border-radius: 20px;
    transition: 0.2s;
}

.botao-ver-transacoes:hover {
    background-color: var(--vermelho);
    color: var(--branco);
    transform: scale(1.03);
}

.dropdown-item {
    width: 100%;
    padding: 0 10px;
    text-align: center;
}

.dropdown-item:hover {
    background-color: var(--vermelho);
    color: var(--branco);
}

/* --------------------------- BAIXO DO SITE --------------------------- */
.baixoAnalises {
    margin-top: 4rem;
}
/* ------------------ PRODUTO MAIS E MENOS VENDIDOS ------------------- */
.produtoMaisMenos {
    background-color: var(--branco);
    box-shadow: 1px 1px 4px var(--sombra);
    border-radius: 20px;
}

/* ---------------------------- GRÁFICOS ----------------------------*/
.cimaGraficos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.cimaGraficos h1 {
    font-size: 1rem;
    color: var(--vermelho);
}

.cimaGraficos select{
    font-size: 0.7rem;
    padding: 0 0 0 5px;
    width: 30%;
    height: 1.9rem;
    background-color: rgba(238, 238, 238, 0.5);
    border: none;
    color: var(--preto);
}

.imagemGrafico {
    display: flex;
    margin: 0 auto;
}

/* ---------------------- PEDIDOS POR CATEGORIA ----------------------- */
.pedidosCategoria {
    background-color: var(--branco);
    box-shadow: 1px 1px 4px var(--sombra);
    border-radius: 20px;
    width: 45.5%;
}

/* ------------------------ PRECO DOS PEDIDOS ------------------------- */
.precoPedidos {
    background-color: var(--branco);
    box-shadow: 1px 1px 4px var(--sombra);
    border-radius: 20px;
    width: 46%;
}

/* --------------------- ESQUERDA BAIXO -------------------- */
.esquerdaBaixoAnalises {
    background-color: var(--branco);
    box-shadow: 1px 1px 4px var(--sombra);
    border-radius: 20px;
    width: 45.5%;
}

/* ------------------------- VOLUME DOS PEDIDOS ----------------------- */
.volumePedidos {
    background-color: var(--branco);
    box-shadow: 1px 1px 4px var(--sombra);
    border-radius: 20px;
    width: 115%;
    margin-left: -10px;
    padding: 10px;
}

/* ---------------------- DESPESA POR CATEGORIA ----------------------- */
.despesaCategoria {
    background-color: var(--branco);
    box-shadow: 1px 1px 4px var(--sombra);
    border-radius: 20px;
    width: 115%;
    margin-left: -10px;
    padding: 10px;
}

@media(max-width: 768px){
    .cimaAnalises {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media(max-width: 959px){

    .cimaAnalises .dropdown {
        margin-right: 0rem;
    }

    .botao-ver-transacoes {
        width: 170px;
        padding: 8px 0;
    }
}

@media(max-width: 970px) {

    .botao-dropdown {
        margin-left: 50px;
    }
}

@media(max-width: 991px){

    body {
        min-height: 575vh;
    }

    .botoes-analises {
        display: flex;
        justify-content: center;
        gap: 70px;
    }

    .cimaAnalises h1 {
        color: var(--vermelho);
        font-size: 2.6rem;
        margin-bottom: 30px;
        font-size: 2rem;
    }

    .pedidosCategoria {
        width: 100%;
    }

    .precoPedidos {
        width: 100%;
    }

    .esquerdaBaixoAnalises {
        width: 100%;
    }

    .volumePedidos {
        width: 103%;
        margin-left: -10px;
    }

    .despesaCategoria {
        width: 103%;
        margin-left: -10px;
    }
}

@media(max-width: 996px) {
    .botao-ver-transacoes {
        width: 170px;
        padding: 7px 0;
        margin-right: 40px;
    }
}