* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --vermelho: #FF001B;
    --branco: #fff;
    --cinza: #EEEEEE;
}

body{
    background-color: var(--cinza);
}

/* corpo do site flutuando na direita do header horizontal */
.corpo-site{
    float: right;
}

@media(max-width: 845px){
    .corpo-site{
        float:none;
    }
}

@media(min-width: 1700px){
    .corpo-site{
        float:none;
    }
}
/* conteúdo do corpo do site */
