* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --vermelho: #FF001B;
    --branco: #fff;
    --cinza: #EEEEEE;
    --sombra: #727171;
}

body{
    background-color: var(--cinza);
}

/* corpo do site flutuando na direita do header horizontal */
.corpo-site{
    margin-left: 8.5rem;
}

@media(max-width: 845px){
    .corpo-site{
        margin-left: 0;
    }
}

@media(min-width: 1700px){
    .corpo-site{
        margin-left: 0;
    }
}

/* conteúdo do corpo do site */

#pagina-perfil {
    margin: 5px;
    padding: 5px;
    min-height: 100vh;
}

#linha {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

#avatar {
    background-image: url('https://www.w3schools.com/howto/img_avatar.png');
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    margin: 2rem;
}

#descricao {
      textarea{
        padding: 10px;
        max-width: 100%;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #dfdfdf;
        justify-content: left;
      }
      
      label {
        display: block;
        margin-bottom: 10px;
      }
}

.modal-dialog {
    max-width: 53%;
}

.obrigatorio {
    color: var(--vermelho);
    font-weight: bold;
}

#formEditarCadastro .form-control {
    border: 1px solid #ccc;
}

@media (max-width: 991px) {
    .modal-dialog {
        max-width: 600px;
    }
}